jobchain.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job_chain">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job_chain_node" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="error_state" use="optional"/>
                <xs:attribute type="xs:string" name="job" use="optional"/>
                <xs:attribute type="xs:string" name="next_state" use="optional"/>
                <xs:attribute type="xs:string" name="state" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
	 <xs:attribute type="xs:string" name="orders_recoverable" use="optional"/>
     <xs:attribute type="xs:string" name="visible" use="optional"/>
	 <xs:attribute type="xs:byte" name="max_orders" use="optional"/>
	 <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

