jobs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="job">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lock.use" minOccurs="0">
          <xs:complexType>
             <xs:simpleContent>
               <xs:extension base="xs:string">
                  <xs:attribute type="xs:time" name="exclusive"/>
				  <xs:attribute type="xs:time" name="lock"/>
               </xs:extension>
              </xs:simpleContent>
           </xs:complexType>
        </xs:element>	  
        <xs:element name="description" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="include">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="file"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="settings" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="log_level"/>  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="params" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="param" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name"/>
                      <xs:attribute type="xs:byte" name="value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="script">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="java_class"/>
                <xs:attribute type="xs:string" name="java_class_path" use="optional"/>
                <xs:attribute type="xs:string" name="language"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
		<xs:element name="monitor" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="script">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="java_class"/>
					  <xs:attribute type="xs:string" name="langage"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
		   <xs:attribute type="xs:string" name="name"/>
		   <xs:attribute type="xs:string" name="ordering"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="run_time" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="period" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:time" name="single_start"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="order" use="optional"/>
      <xs:attribute type="xs:string" name="title"/>
	  <xs:attribute type="xs:string" name="stop_on_error" use="optional"/>
	  <xs:attribute type="xs:string" name="task" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="job_chain">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job_chain_node" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="error_state" use="optional"/>
                <xs:attribute type="xs:string" name="job" use="optional"/>
                <xs:attribute type="xs:string" name="next_state" use="optional"/>
                <xs:attribute type="xs:string" name="state" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
	 <xs:attribute type="xs:string" name="orders_recoverable" use="optional"/>
     <xs:attribute type="xs:string" name="visible" use="optional"/>
	 <xs:attribute type="xs:byte" name="max_orders" use="optional"/>
	 <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="params">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="run_time">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="weekdays" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="day" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="period">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="single_start" use="optional"/>
                                  <xs:attribute type="xs:string" name="when_holiday" use="optional"/>
								  <xs:attribute type="xs:string" name="absolute_repeat" use="optional"/>
                                  <xs:attribute type="xs:string" name="begin" use="optional"/>
								  <xs:attribute type="xs:string" name="end" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="day"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="holidays" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="holiday" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:date" name="date"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="time_zone" use="optional"/>
			<xs:attribute type="xs:string" name="let_run" use="optional"/>
			<xs:attribute type="xs:byte" name="repeat" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
	  <xs:attribute type="xs:string" name="id" use="optional"/>
	  <xs:attribute type="xs:string" name="title" use="optional"/>
	  <xs:attribute type="xs:string" name="end_state" use="optional"/>
	  <xs:attribute type="xs:string" name="state" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

