order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="params">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="param" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="run_time">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="period" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:time" name="single_start"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="weekdays" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="day" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="period">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="single_start" use="optional"/>
                                  <xs:attribute type="xs:string" name="when_holiday" use="optional"/>
								  <xs:attribute type="xs:string" name="absolute_repeat" use="optional"/>
                                  <xs:attribute type="xs:string" name="begin" use="optional"/>
								  <xs:attribute type="xs:string" name="end" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="day"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="holidays" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="holiday">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:date" name="date"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="time_zone" use="optional"/>
			<xs:attribute type="xs:string" name="let_run" use="optional"/>
			<xs:attribute type="xs:byte" name="repeat" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
	  <xs:attribute type="xs:string" name="id" use="optional"/>
	  <xs:attribute type="xs:string" name="title" use="optional"/>
	  <xs:attribute type="xs:string" name="end_state" use="optional"/>
	  <xs:attribute type="xs:string" name="state" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>